@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: #fafafa;
    font-family: var(--font-iranYekan) !important;
  }
}
input[type="checkbox"] {
  accent-color: #72814e;
}
li {
  cursor: pointer;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  width: 30px;
  height: 10px;
  background-color: #558c5a;
  border-radius: 40%;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  content: none !important;
}
.trap {
  --w: 80%;
  --h: 74px;
  --cut: 48px;
  width: var(--w);
  height: var(--h);
  /*padding-right: 152px;*/
  display: grid;
  place-items: center;

  background: #eaaa1e;
}

.trap-top-short {
  clippath: polygon(var(--cut) 0, 100% 0, 100% 100%, 0 100%);
}

.trap-bottom-short {
  clippath: polygon(0 0, 100% 0, 100% 100%, var(--cut) 100%);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.iran-map-wrapper .react-map-water {
  fill: red !important;
}
.fm-agency-state {
  fill: #305f56;
  stroke: aliceblue;
}
.fm-agency-sea {
  fill: #d7f0ed;
}
.fm-agency-state:hover {
  fill: #e9aa1e;
  transition: all 0.5s;
  cursor: pointer;
}
.clip-ellipse {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

nav.menuBox {
  width: 100%;
  top: 0px;
}

.wrapper .nav-links {
  display: flex;
  height: 100%;
}

.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 780px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 80px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  border-radius: 0px;
}
.mega-box {
  position: absolute;
  /* width: 80%; */
  width: 350px;
  right: -30px;
  padding: 0 10px;
  top: 95px;
  opacity: 0;
  visibility: hidden;
}
.mega-box.big {
  position: fixed;
  /* width: 80%; */
  width: 80%;
  right: 0;
  padding: 0 30px;
  top: 95px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.mega-box .content {
  background: white;
  padding: 15px 15px;
  border: 1px solid silver;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}
.tri {
  --w: 90px;
  --h: 80px;
  --c: #e9aa1e;
  width: var(--w);
  height: var(--h);
  background: var(--c);
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}
.about-slider-container {
  perspective: 1000px;
}

.about-slider-slide {
  transform: rotateY(var(--angle)) translateZ(var(--depth));
  transition: transform 0.5s ease;
}

.my-scroll-box {
  overflow-y: auto;
  overflow-x: hidden;
}

.my-scroll-box::-webkit-scrollbar {
  width: 4px;
}

.my-scroll-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.my-scroll-box::-webkit-scrollbar-thumb {
  background: #35663a;
  border-radius: 8px;
}

.my-scroll-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rtl {
  direction: rtl;
}
